server:
  port: 8080
spring:
#  config:
#    import: optional:file:.env[.properties]
  datasource:
    url: ${DB_DEV_URL}
    driver-class-name: org.postgresql.Driver
    username: ${DB_DEV_USER}
    password: ${DB_DEV_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        show_sql: true
        format_sql: true
  mail:
    host: ${MAIL_DEV_HOST}
    port: ${MAIL_DEV_PORT}
    username: ${MAIL_DEV_USERNAME}
    password: ${MAIL_DEV_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          socketFactory:
            port: 465
            class: javax.net.ssl.SSLSocketFactory
        starttls:
          enable: true
  web:
    locale-resolver: fixed
    locale: pt_BR
app:
  jwt-secret: ${JWT_DEV_SECRET}
  jwt-expiration-milliseconds: ${JWT_DEV_EXPIRATION}
mail:
  host: ${MAIL_DEV_HOST}
  port: ${MAIL_DEV_PORT}
  username: ${MAIL_DEV_USERNAME}
  password: ${MAIL_DEV_PASSWORD}